@use './variables/variables.scss' as *;

.main_button {
  display: flex;
  align-items: center;

  .line {
    width: 100%;
    height: 0;
    border: 1px solid $clrNeutral700;
    position: relative;
  }
  .button {
    float: right;
    padding: 1.5rem;
    border-radius: 50%;
    border: none;
    background-color: $clrPrimary_Purple;
  }
}
