@use './variables/variables.scss' as *;

.form {
  display: flex;
  gap: 1rem;
  .input {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    label {
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      color: $clrNeutral400;
    }
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
    }
    input {
      border: 1px solid $clrNeutral400;
      border-radius: 0.5rem;
      font-size: 2rem;
      padding: 0.5rem 0 0.5rem 2rem;
    }
  }
}
