$clrPrimary_Purple: hsl(259, 100%, 65%);
$clrPrimary_lightRed: hsl(0, 100%, 67%);
$clrNeutral900: hsl(0, 0%, 100%);
$clrNeutral800: hsl(0, 0%, 94%);
$clrNeutral700: hsl(0, 0%, 86%);
$clrNeutral400: hsl(0, 1%, 44%);
$clrNeutral100: hsl(0, 0%, 8%);
